<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2><b>CHI SIAMO</b></h2>
        <p class="lead">Dopo un'esperienza trentennale
          nel campo dell'installazione e manutenzione di impianti di riscaldamento,
<br>
          <b>la nostra società nasce nel 2014</b>
          come punto vendita al dettaglio di prodotti per il riscaldamento,
        l'idraulica ed il condizionamento.

          <br>
          <br>
          <br>


           All'interno della nostra vasta gamma di prodotti
          potrete trovare: <b>scaldini e caldaie a gas</b>, <b>termocamini</b>, <b>stufe a pellet</b>,
           <b>climatizzatori</b>, <b>rubinetteria</b>, <b>minuteria idraulica</b>.

           <br>
           <br>
           <br>
           <br>

           <a href="#prodotti" ><b>Esplora</b></a> il sito per maggiori informazioni o <a href="#contacts" ><b>contattaci</b></a> direttamente. </p>

      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
