<section id="caldaie" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <a  class="btn btn-dark btn-lg" target="_blank"> <b>CALDAIE</b> </a>
        <hr class="small">
        <div class="row">


          <h2><b>A Basamento<b></h2>

          <div class="col-md-6">
            <div class="portfolio-item">
              <h3>Ecosystem</h3>
              <a href="http://www.energiealternative-ac.it/ecosystem.pdf" target="_blank">
                <img class="img-portfolio img-responsive" src="img/caldaie/caldaiaecosystem.jpg">
              </a>
            </div>
          </div>


          <div class="col-md-6">
            <div class="portfolio-item">
              <h3>RED</h3>
              <a href="http://www.red365.it/it/p229-compact.html" target="_blank">
                <img class="img-portfolio img-responsive" src="img/caldaie/RED/red.jpg">
              </a>
            </div>
          </div>



          <h2><b>A Gas<b></h2>
              <h3>Baxi</h3>

            <div class="col-md-6">
              <div class="portfolio-item">
                <a href="http://www.baxi.it/home/" target="_blank">
                  <img class="img-portfolio img-responsive" src="img/caldaie/BAXI-Acquaproject.png">
                </a>
              </div>
            </div>

            <div class="col-md-6">
              <div class="portfolio-item">
                <a href="http://www.baxi.it/home/" target="_blank">
                  <img class="img-portfolio img-responsive" src="img/caldaie/baxi-luna-alux.jpg">
                </a>
              </div>
            </div>





        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
