<aside id="marche" class="callout" >
 <div class="text-vertical-center">
    <h1>Le nostre Marche</h1>
<hr class="small">
  <div class="row">

    <div class="col-md-6">
      <div class="portfolio-item">
        <a href="http://www.baxi.it/home/" target="_blank">
          <img class="img-portfolio img-responsive" src="img/loghi/baxi.jpg" style="width: 15%; height: 15%">
        </a>
      </div>
    </div>

    <div class="col-md-6">
      <div class="portfolio-item">
        <a href="http://www.csthermos.it" target="_blank">
          <img class="img-portfolio img-responsive" src="img/loghi/csthermos.jpg" style="width: 20%; height: 20%">
        </a>
      </div>

    </div>
    <div class="col-md-6">
      <div class="portfolio-item">
        <a href="http://www.davincistufe.it" target="_blank">
          <img class="img-portfolio img-responsive" src="img/loghi/davinci.png" style="width: 20%; height: 20%">
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="portfolio-item">
        <a href="#">
          <img class="img-portfolio img-responsive" src="img/loghi/ecosystem.jpg" style="width: 25%; height: 25%">
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="portfolio-item">
        <a href="http://www.isokalor.it" target="_blank">
          <img class="img-portfolio img-responsive" src="img/loghi/isokalor.jpg" style="width: 20%; height: 20%">
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="portfolio-item">
        <a href="http://www.magikal.it" target="_blank">
          <img class="img-portfolio img-responsive" src="img/loghi/magikal.png" style="width: 15%; height: 20%">
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="portfolio-item">
        <a href="http://www.mcz.it/it/" target="_blank">
          <img class="img-portfolio img-responsive" src="img/loghi/mcz.png" style="width: 20%; height: 20%">
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="portfolio-item">
        <a href="http://www.midea.com/it/" target="_blank">
          <img class="img-portfolio img-responsive" src="img/loghi/midea.png" style="width: 17%; height: 20%">
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="portfolio-item">
        <a href="http://ita.ravelligroup.it" target="_blank">
          <img class="img-portfolio img-responsive" src="img/loghi/ravelli.png" style="width: 20%; height: 20%">
        </a>
      </div>
    </div>

    <div class="col-md-6">
      <div class="portfolio-item">
        <a href="http://www.sharp.it/cps/rde/xchg/it/hs.xsl/-/html/climatizzatori.htm" target="_blank">
          <img class="img-portfolio img-responsive" src="img/loghi/sharp.png" style="width: 20%; height: 30%">
        </a>
      </div>
    </div>

    <div class="col-md-6">
      <div class="portfolio-item">
        <a href="http://www.sunergsolar.com/it/" target="_blank">
          <img class="img-portfolio img-responsive" src="img/loghi/sunerg.png" style="width: 20%; height: 20%">
        </a>
      </div>
    </div>
  </div>


  </div>
</aside>
