<section id="condizionamento" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <a  class="btn btn-dark btn-lg" target="_blank"> <b>CONDIZIONAMENTO</b> </a>
        <hr class="small">
        <div class="row">

          <div class="col-md-6">
            <div class="portfolio-item">
              <h3>Midea</h3>
              <a href="http://www.midea.com/it/index.shtml" target="_blank">
                <img class="img-portfolio img-responsive" src="img/condizionamento/midea_clima.jpg" >
              </a>
            </div>
          </div>

          <div class="col-md-6">
            <div class="portfolio-item">
              <h3>Sharp</h3>
              <a href="http://www.sharp.it/cps/rde/xchg/it/hs.xsl/-/html/climatizzatori.htm" target="_blank">
                <img class="img-portfolio img-responsive" src="img/condizionamento/sharp_cond.jpg">
              </a>
            </div>
          </div>

<br>
<br>
<br>
<br>

          <a href="#prodotti" class="btn btn-lg btn-dark">Torna alla lista dei Prodotti</a>











        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
