<footer>
  <div class="container"id="contacts" >
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2><strong>CONTATTI</strong></h2>
        <h3><strong>Termo Group s.r.l.</strong>
                                              </h3>
        <p>
        <h4>   via Nazionale, 418 <br>
           84034 Padula Scalo (SA) <br>
                                        </h4>
        </p>
          <ul class="list-inline">
          <li>
            <a href="tel:+390975574232"><i class="fa fa-phone fa-2x"> <h6>0975 574232</h6></i></a>

          </li>



          <li>
             <a href="mailto:termogroupsrl@gmail.com"> <i class="fa fa-envelope-o fa-2x"> <h6>termogroupsrl@gmail.com</h6></i></a>
          </li>

  &nbsp;

          <li>
            <a href="https://www.facebook.com/Termo-group-srl-304588949708508/" target="_blank"><i class="fa fa-facebook fa-fw fa-2x"><h6>Facebook</h6></i></a>
          </li>

        </ul>
        <hr class="small">
        <p class="text-muted">Copyright &copy; TermoGroup s.r.l. 2016</p>
      </div>
    </div>
  </div>
</footer>
