<section id="solare" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <a  class="btn btn-dark btn-lg" target="_blank"> <b>SOLARE</b> </a>
        <hr class="small">
        <div class="row">

            <h3>Sunerg</h3>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="http://www.sunergsolar.com/it/" target="_blank">
                <img class="img-portfolio img-responsive" src="img/solare/pannelli.png">
              </a>
            </div>
          </div>

          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="http://www.sunergsolar.com/it/" target="_blank">
                <img class="img-portfolio img-responsive" src="img/solare/boiler.png">
              </a>
            </div>
          </div>

            <h3>Baxi</h3>

            <div class="col-md-6">
              <div class="portfolio-item">
                <a href="http://www.baxi.it/docs/sistemi_solari_CAT.pdf" target="_blank">
                  <img class="img-portfolio img-responsive" src="img/solare/baxi1pan.png">
                </a>
              </div>
            </div>

            <div class="col-md-6">
              <div class="portfolio-item">
                <a href="http://www.baxi.it/docs/sistemi_solari_CAT.pdf" target="_blank">
                  <img class="img-portfolio img-responsive" src="img/solare/baxi2pan.png">
                </a>
              </div>
            </div>




        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
