<section id="stufe" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2><b>STUFE<b></h2>
        <hr class="small">
        <div class="row">




              <h3>MCZ</h3>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="http://www.mcz.it/it/" target="_blank">
                <img class="img-portfolio img-responsive" src="img/stufe/MCZ/mcz.jpg">
              </a>
            </div>
          </div>

          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="http://www.mcz.it/it/" target="_blank">
                <img class="img-portfolio img-responsive" src="img/stufe/MCZ/suite.jpg">
              </a>
            </div>
          </div>

          <h3>Ravelli</h3>
      <div class="col-md-6">
        <div class="portfolio-item">
          <a href="http://ita.ravelligroup.it" target="_blank">
            <img class="img-portfolio img-responsive" src="img/stufe/RAVELLI/ravelli2.jpg">
          </a>
        </div>
      </div>

      <div class="col-md-6">
        <div class="portfolio-item">
          <a href="http://ita.ravelligroup.it" target="_blank">
              <img class="img-portfolio img-responsive" src="img/stufe/RAVELLI/ravelli.gif">
          </a>
        </div>
      </div>


      <h3> CS Thermos</h3>
  <div class="col-md-6">
    <div class="portfolio-item">
      <a href="http://www.csthermos.it" target="_blank">
        <img class="img-portfolio img-responsive" src="img/stufe/thermos2.png">
      </a>
    </div>
  </div>

  <div class="col-md-6">
    <div class="portfolio-item">
      <a href="http://www.csthermos.it" target="_blank">
        <img class="img-portfolio img-responsive" src="img/stufe/csthermos2.jpg">
      </a>
    </div>
  </div>





        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
