<section id="termocamini" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
  <a  class="btn btn-dark btn-lg" target="_blank"> <b>TERMOCAMINI</b> </a>
          <hr class="small">
        <div class="row">



          <div class="col-md-6">
            <div class="portfolio-item">
              <h3>Ecosystem</h3>
              <a href="http://www.energiealternative-ac.it/ecosystem.pdf" target="_blank">
                <img class="img-portfolio img-responsive" src="img/termocamini/termocaminoECOSYSTEM.jpg">
              </a>
            </div>
          </div>


          <div class="col-md-6">
            <div class="portfolio-item">
              <h3>Isokalor</h3>
              <a href="http://www.isokalor.it/?lang=it" target="_blank">
                <img class="img-portfolio img-responsive" src="img/termocamini/ISO-KALOR/isokalor.png">
              </a>
            </div>
          </div>


              <h3>Magikal</h3>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="http://www.magikal.it" target="_blank">
                <img class="img-portfolio img-responsive" src="img/termocamini/MAGIKAL/Magikal_Saturno.jpg">
              </a>
            </div>
          </div>

          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="http://www.magikal.it" target="_blank">
                <img class="img-portfolio img-responsive" src="img/termocamini/MAGIKAL/omarnews.jpg">
              </a>
            </div>
          </div>




        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
